.Error {
  font-size: 12px;
  color: #ff4d4f;
  padding-left: 4px;
  font-family: monospace;
}

.ErrorMessage {
  margin-bottom: 2px;
}

.ErrorText {
  white-space: pre;
}

.Cursor {
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #ff4d4f;
  margin-left: 1px;
  animation: blink 1s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%,
  50% {
      opacity: 1;
  }
  51%,
  100% {
      opacity: 0;
  }
}