.Error {
  font-size: var(--font-size-xs);
  color: var(--color-error);
  padding-left: var(--space-xs);
  font-family: monospace;
  max-width: 320px;
}

.ErrorMessage {
  margin-bottom: 2px;
}

.ErrorText {
  white-space: pre-wrap;
  word-break: break-word;
}

.Cursor {
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: var(--color-error);
  margin-left: 1px;
  animation: blink 1s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%,
  50% {
      opacity: 1;
  }
  51%,
  100% {
      opacity: 0;
  }
}
